<div class="well">
  {{#link-to 'house'}}
  <h1>House Committees</h1>
  {{/link-to}}
</div>

<div class="well">
  {{#link-to 'senate'}}
  <h1>senate Committees</h1>
  {{/link-to}}
</div>

<!-- <div class="row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-6">

  </div>
</div> -->
